
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    color:#ededed ;

}
a{
    color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover,.navbar a.active{
    color: #00abf0;
}
#Home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: initial;
    background-position: initial;

}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative; /* Assurez-vous que le lien a un contexte de positionnement */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5;

}

.btn-box a:nth-child(2){
    background:transparent;
    color: #00abf0;
}
.btn-box a::before {
    content: ''; /* Obligatoire pour les pseudo-éléments */
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29; /* Couleur du fond du pseudo-élément */
    z-index: -1; /* Place le pseudo-élément derrière le lien */
    transition: .5s; /* Transition de l'opacité pour l'effet de surbrillance */
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(1):hover{
    color: #00abf0;
}.btn-box a:nth-child(2)::before{
    background-color: #00abf0;
}
.btn-box a:hover::before {
    width: 100%;
}
  





svg {
	height: 23rem;
	margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* Ajoutez ces styles à votre feuille de style CSS */

.container {
    display: flex; /* Assure que le conteneur utilise la disposition flexbox */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 100vh; /* Ajuste la hauteur du conteneur à 100% de la hauteur de la vue */
}

/* Ajoutez d'autres styles CSS nécessaires ici */


form {
	
	.title {
		font-family: 'Pacifico', cursive;
		color: #ffffff;
		font-size: 2.5rem;
	}
	
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    margin: 15px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: 15px;
	}
	
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 15px;
    color: #838788;
    position: relative;
    left: 0;
    width: 100%;
  }
	
  input
   {
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 30px;
    width: 85%;
    
  }
  textarea  {
    font-family: 'Quicksand', sans-serif;
color: #212529;
font-size: 30px;
width: 100%;

}
	
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
    width: 100%;
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 10px;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #abb8c3, #abb8c3, #abb8c3, #abb8c3);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}










#About {
    color: white;
    font-family: "Lato";
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(150deg, #e6d3f9 0%, #e6d3f9 50%, #cea0f1 50%, #cea0f1 100%);
  }
  
  .open-walkthrough {
    border: 0;
    background: #5da3f2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    height: 40px;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -60px;
  }
  
  .walkthrough {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 0;
    display: none;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    height: 464px;
    overflow: hidden;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 280px;
    z-index: 1000;
  }
  .walkthrough.show {
    display: flex;
    opacity: 0;
    transform: translateY(72px);
  }
  .walkthrough.reveal {
    opacity: 1;
    transform: translateY(0);
  }
  .walkthrough .walkthrough-body {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: center;
  }
  .walkthrough .walkthrough-body .prev-screen,
  .walkthrough .walkthrough-body .next-screen {
    align-self: stretch;
    background: none;
    border: 0;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 24px;
    opacity: 1;
    outline: none;
    padding: 16px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000;
  }
  .walkthrough .walkthrough-body .prev-screen:hover, .walkthrough .walkthrough-body .prev-screen:active,
  .walkthrough .walkthrough-body .next-screen:hover,
  .walkthrough .walkthrough-body .next-screen:active {
    color: white;
    transform-origin: center;
    transform: scale(1.25);
  }
  .walkthrough .walkthrough-body .prev-screen:disabled,
  .walkthrough .walkthrough-body .next-screen:disabled {
    opacity: 0;
  }
  .walkthrough .walkthrough-body .prev-screen {
    order: 1;
  }
  .walkthrough .walkthrough-body .next-screen {
    order: 3;
  }
  .walkthrough .walkthrough-body .screens {
    flex: 1;
    align-self: stretch;
    position: relative;
    margin: 0 -16px;
    padding: 0;
    order: 2;
  }
  .walkthrough .walkthrough-body .screens .screen {
    position: absolute;
    list-style-type: none;
  }
  .walkthrough .walkthrough-body .media {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 132px;
    height: 132px;
    margin: 32px auto;
    width: 132px;
  }
  .walkthrough .walkthrough-body h3 {
    font-size: 15px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
  .walkthrough .walkthrough-body p {
    line-height: 1.6em;
    font-size: 13px;
    margin-top: 16px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .walkthrough .walkthrough-pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .walkthrough .walkthrough-pagination .dot {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 8px;
    margin: 0 4px;
    transform: scale(0.75);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 8px;
  }
  .walkthrough .walkthrough-pagination .dot.active {
    background: white;
    transform: scale(1);
    transition-delay: 0.4s;
  }
  .walkthrough .walkthrough-footer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    padding: 0;
  }
  .walkthrough .walkthrough-footer button {
    height: 40px;
    border: 0;
    background: #5da3f2;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border-radius: 0;
    color: white;
    flex: 1;
    font-size: 12px;
    margin: 0;
    outline: 0;
    padding: 12px;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
  }
  .walkthrough .walkthrough-footer button:hover {
    background: #6babf3;
  }
  .walkthrough .walkthrough-footer button:active {
    background: #5da3f2;
  }
  .walkthrough .walkthrough-footer button:disabled {
    cursor: pointer;
  }
  .walkthrough .walkthrough-footer button.finish {
    background: #3e94f5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .walkthrough .walkthrough-footer button.finish:hover {
    background: #4d9cf6;
  }
  .walkthrough .walkthrough-footer button.finish:active {
    background: #3e94f5;
  }
  .walkthrough .walkthrough-footer button.finish.active {
    transform: scale(1, 1);
    opacity: 1;
  }
  .walkthrough .screens {
    margin: 0;
  }
  .walkthrough .screens .media .status-badge {
    left: 136px;
    opacity: 0;
    position: absolute;
    top: 104px;
    transform: scale(0);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.6s;
  }
  .walkthrough .screens .media .status-badge i {
    display: inline;
  }
  .walkthrough .screens .media.logo .logo {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;
  }
  .walkthrough .screens .media .icon {
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 132px;
    left: 48px;
    top: 32px;
  }
  .walkthrough .screens .media.bars .icon {
    transform: translate(40px, 20px);
  }
  .walkthrough .screens .media.bars .icon:nth-of-type(2) {
    transform: scale(0.25);
    transform-origin: 30% 54%;
  }
  .walkthrough .screens .media.bars .icon:nth-of-type(3) {
    transform: scale(0.25);
    transform-origin: 30% 40%;
  }
  .walkthrough .screens .media.bars .icon:nth-of-type(4) {
    transform: scale(0.25);
    transform-origin: 30% 26%;
  }
  .walkthrough .screens .media.files .icon {
    transform: translate(40px, 20px);
  }
  .walkthrough .screens .media.comm .icon {
    transform: scale(0.25);
    transform-origin: 29% 73%;
  }
  .walkthrough .screens .media.comm .icon:nth-child(2) {
    transform-origin: 66% 85%;
  }
  .walkthrough .screens .screen {
    opacity: 0;
    position: absolute;
    transform: translateX(-72px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .walkthrough .screens .screen.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
  }
  .walkthrough .screens .screen.active ~ .screen {
    opacity: 0;
    transform: translateX(72px);
  }
  .walkthrough .screens .screen.active .media .status-badge {
    opacity: 1;
    transform: scale(1.75);
  }
  .walkthrough .screens .screen.active .media.logo .logo {
    opacity: 0.8;
    transform: translateY(0);
    transition-delay: 0.6s;
  }
  .walkthrough .screens .screen.active .media.logo .status-badge {
    transition-delay: 1s;
  }
  .walkthrough .screens .screen.active .media.books .icon {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
  }
  .walkthrough .screens .screen.active .media.books .icon:nth-child(2) {
    transition-delay: 0.725s;
  }
  .walkthrough .screens .screen.active .media.books .icon:nth-child(3) {
    transition-delay: 0.85s;
  }
  .walkthrough .screens .screen.active .media.books .status-badge {
    transition-delay: 1.4s;
  }
  .walkthrough .screens .screen.active .media.bars .icon {
    opacity: 1;
    transform: translate(0) scale(1);
    transition-delay: 0.6s;
  }
  .walkthrough .screens .screen.active .media.bars .icon:nth-child(2) {
    transition-delay: 1.05s;
  }
  .walkthrough .screens .screen.active .media.bars .icon:nth-child(3) {
    transition-delay: 0.925s;
  }
  .walkthrough .screens .screen.active .media.bars .icon:nth-child(4) {
    transition-delay: 0.8s;
  }
  .walkthrough .screens .screen.active .media.files .icon {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
  }
  .walkthrough .screens .screen.active .media.files .icon:nth-child(3) {
    transition-delay: 0.8s;
  }
  .walkthrough .screens .screen.active .media.files .icon:nth-child(2) {
    transition-delay: 0.7s;
  }
  .walkthrough .screens .screen.active .media.files .icon:nth-child(1) {
    transition-delay: 0.6s;
  }
  .walkthrough .screens .screen.active .media.files .status-badge {
    transition-delay: 1.6s;
  }
  .walkthrough .screens .screen.active .media.comm .icon {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.6s;
  }
  .walkthrough .screens .screen.active .media.comm .icon:nth-child(2) {
    transition-delay: 0.8s;
  }
  .walkthrough .screens .screen.active .media.comm .status-badge {
    transition-delay: 1.6s;
  }
#Contact{
    background: #c2c2c2;
}